@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&display=swap');

.AU {
    display: flex;
}

.left_AU,
.right_AU {
    overflow: hidden;
}

.navabout {
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* gap: 10px; */
    /* text-align: center; */
    padding: 30px;
    padding-left: 40px;
    height: 120px;
    width: calc(100vw - 500px);
    background-color: #FFF8E1;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    /* border-top: 2px dashed #C0A686;
    border-bottom: 2px dashed #C0A686; */
}

.polygon {
    position: absolute;
    left: 110px;
    top: 11px;
}

.projector {
    position: relative;
    z-index: 2;
}

.aboutTitle {
    color: rgb(50,50,50);
    /* text-shadow: 3px 7px rgb(204,117,0); */
    /* letter-spacing: 4px; */
    margin: auto;
    /* font-family: "Luckiest Guy", serif; */
    font-weight: 900;
    font-size: 3.75rem;
    font-style: bold;
    position: relative;
    /* bottom: 12px; */
}
.aboutTitle2 {
    color: #cc7500;
    /* text-shadow: 3px 7px rgb(204,117,0); */
    /* letter-spacing: 4px; */
    margin: auto;
    /* font-family: "Luckiest Guy", serif; */
    font-weight: 900;
    font-size: 3.75rem;
    font-style: bold;
    position: relative;
    /* bottom: 12px; */
}

.contentContainer {
    background-color: #FFF8E1;
    color: rgb(204,117,0) !important;
    width: calc(100vw - 500px);
    height: 595px;
    /* border-bottom: 2px dashed #C0A686; */
    color: black;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 1.95em;
    padding: 40px;
    padding-top: 15px;
    padding-right: 60px;
    text-align: justify;
    /* padding-right: 50px; */
}

.frame {
    background: url('/images/frame.png');
    height: 725px;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0;
    box-sizing: border-box;
    margin-right: 10px;
    /* border: 2px dashed #C0A686;
    border-right: none; */
    overflow: hidden;
    padding-top: 3px;

}

.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-x pinch-zoom;
    margin-top: calc(var(--slide-spacing) * -1);
    height: 731px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-height: 0;
    height: 100%;
    padding-top: var(--slide-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 405px;
}

.embla_img {
    height: 100% !important;
    object-fit: cover;
    width: 362px;
}

@media screen and (max-width:1221px){
    .contentContainer{
        padding-top: 15px;
        font-size: 1.7em;
    }
}

@media screen and (max-width:1108px) {
    .AU {
        flex-direction: column;
    }
    .navabout {
        width: 100vw;
        height: 100px;
        /* font-size: 20px; */
        padding-left: 30px;
    }
    .aboutTitle, .aboutTitle2 {
        font-size: 3.5rem;
        /* right: 25px; */
    }
    .contentContainer {
        width: 100vw;
        height: auto;
        padding: 25px 30px 60px 30px;
        font-size: 1.75em;
    }
    .right_AU {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 505px;
    }
    .projector {
        transform: scale(0.9);
        display: none;
        top: -5px;
        left: -10px;
    }
    .polygon {
        display: none;
        transform: scale(0.7);
        left: 15px;
        top: -13px
    }
    .frame {
        background: url('/images/frameX.png');
        width: 100vw;
        height: 505px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        border-left: none;
        border-top: none;
        padding-top: 0;
    }
    .embla__viewport{
        width: 100vw;
    }
    .embla_img{
        height: 362px !important;
        width: 280px;
    }
    .embla {
        max-width: 48rem;
        margin: auto 0;
        --slide-height: 19rem;
        --slide-spacing: 1rem;
        --slide-size: 280px;
    }
    .embla__viewport {
        overflow: hidden;
    }
    .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: 0;
        flex-direction: row;
    }
    .embla__slide {
        transform: translate3d(0, 0, 0);
        flex: 0 0 var(--slide-size);
        min-width: 0;
        bottom: 105px;
        padding-left: var(--slide-spacing);
        width: 280px;
    }
}

@media screen and (max-width:642px) {
    .aboutTitle, .aboutTitle2 {
        font-size: 3.2rem;
    }
    .contentContainer{
        font-size: 1.7em;
    }
}
@media screen and (max-width:512px) {
    .aboutTitle, .aboutTitle2 {
        font-size: 2.6rem;
    }
    .contentContainer{
        font-size: 1.4em;
    }
}
