@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.AU {
    display: flex;
}

.left_AU,
.right_AU {
    overflow: hidden;
}

.navabout {
    position: relative;
    display: flex;
    height: 150px;
    width: calc(100vw - 500px);
    background-color: #F5F0EA;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px dashed #C0A686;
    border-bottom: 2px dashed #C0A686;
}

.polygon {
    position: absolute;
    left: 110px;
    top: 11px;
}

.projector {
    position: relative;
    z-index: 2;
}

.aboutTitle {
    color: #664228;
    margin: auto;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 500;
    font-size: 80px;
    font-style: normal;
    position: relative;
    bottom: 12px;
}

.contentContainer {
    background-color: #F5F0EA;
    width: calc(100vw - 500px);
    height: 555px;
    border-top: 2px dashed #C0A686;
    border-bottom: 2px dashed #C0A686;
    color: black;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    padding: 50px;
    text-align: justify;
    /* padding-right: 50px; */
}

.frame {
    background: url('/static/images/frame.png');
    height: 715px;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0;
    box-sizing: border-box;

}

.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-x pinch-zoom;
    margin-top: calc(var(--slide-spacing) * -1);
    height: 731px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-height: 0;
    height: 100%;
    padding-top: var(--slide-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 3px;
    width: 405px;
}

.embla_img {
    height: 100% !important;
    object-fit: cover;
    width: 362px;
}

@media screen and (max-width:1108px) {
    .AU {
        flex-direction: column;
    }
    .navabout {
        width: 100vw;
        height: 100px;
        /* font-size: 20px; */
    }
    .aboutTitle {
        font-size: 70px;
        /* right: 25px; */
    }
    .contentContainer {
        width: 100vw;
        height: auto;
        padding: 50px 30px 100px 30px;
    }
    .right_AU {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .projector {
        transform: scale(0.9);
        display: none;
        top: -5px;
        left: -10px;
    }
    .polygon {
        display: none;
        transform: scale(0.7);
        left: 15px;
        top: -13px
    }
    .frame {
        background: url('/static/images/frameX.png');
        width: 100vw;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
    }
    .embla__viewport{
        width: 100vw;
    }
    .embla_img{
        height: 362px !important;
        width: 280px;
    }
    .embla {
        max-width: 48rem;
        margin: auto 0;
        --slide-height: 19rem;
        --slide-spacing: 1rem;
        --slide-size: 280px;
    }
    .embla__viewport {
        overflow: hidden;
    }
    .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: 0;
        flex-direction: row;
    }
    .embla__slide {
        transform: translate3d(0, 0, 0);
        flex: 0 0 var(--slide-size);
        min-width: 0;
        bottom: 104px;
        padding-left: var(--slide-spacing);
        width: 280px;
    }
}

@media screen and (max-width:642px) {
    .aboutTitle {
        font-size: 60px;
    }
}