@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Luckiest+Guy&display=swap');

.content {
	--yellow: #ffa940;
	--dark: black;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
}

.section {
	/* margin: 15px; */
	padding: 0;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	font-family: "Lato", Arial, Helvetica, serif;
	/* background: linear-gradient(90deg, #131417, var(--dark) 35% 65%, #131417); */
	font-size: 1em;
}

.section *,
.section *:before,
.section *:after {
	box-sizing: border-box;
}

.content {
	width: 70vw;
}

.heading1 {
	text-align: center;
	color: rgb(255, 168, 0);
	font-family: var(--font-monument-extended), serif;
	/* font-size: 35px; */
	line-height: 60px;
	font-weight: 600;
	margin-top: 20px;
}

.heading2 {
	text-align: center;
	color: rgb(255, 168, 0);
	font-family: var(--font-monument-extended), sarif;
	/* font-size: 70px; */
	letter-spacing: 4px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

.section {
	padding: 2rem;
	background-color: #0c0c0c;
	color: white;
	font-family: "Lato", Arial, sans-serif;
	min-height: 100vh;
	height: auto;
}

.content {
	/* max-width: 70vw; */
	margin: 0 auto;
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	padding-top: 0;
}

.heading1 {
	text-align: center;
	color: #ffa940;
	/* font-family: "Ranchers", serif; */
	/* font-family: "Luckiest Guy", cursive; */
	/* font-size: 35px; */
}

.heading2 {
	text-align: center;
	color: #ffa940;
	/* font-family: "Luckiest Guy", cursive; */
	/* font-size: 50px; */
	letter-spacing: 4px;
	margin-bottom: 80px;
}

.list {
    display: flex;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    width: auto;
    justify-content: center;
    overflow: visible;
	max-width: 1400px;
  }
  

.list>li {
	background: linear-gradient(219.67681621670076deg, #d68100 -112.00000000000001%, rgba(40, 40, 40, 1) 44%, rgba(34, 34, 34, 1) 100%);
	color: white;
	border-radius: 0.5rem;
	padding: 1.5rem 1rem;
	position: relative;
	width: 350px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.icon {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1rem;
	color: #ffa940;
}

.title {
	font-family: "Oswald", sans-serif;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	color: #ffa940;
}

.descr {
	font-family: var(--font-aileron-bold), serif;
	font-size: 1.1rem;
	text-align: center;
}