@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PixelFont';
  src: url('https://fonts.cdnfonts.com/css/press-start-2p') format('woff2');
}

.floating-coin {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.animate-shimmer {
  animation: shimmer 8s linear infinite;
  background-size: 200% 100%;
}

.silkscreen-bold {
  font-family: 'Silkscreen', cursive;
  font-weight: 700;
}

.pixel-font {
  font-family: 'Silkscreen', cursive;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}
:root {
  --background: rgb(10,10,10);
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(10,10,10);
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

div, #whyCA, #responsibilities, #incentives, #FAQ, #AU{
  scroll-margin-top: 50px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width:1024px) {
  .tech-comp{
    width: 250px;
  }
  .cult-comp{
    width: 300px;
  }
  .comp-title{
    margin-top: 3rem;
  }
}